@import "tailwindcss";

@theme {
  --color-card-blue: #081334;
  --color-input-gray: #1F2B4F;
  --color-brown: #5A4A24;

  --color-gold: #FDD602;
  --color-silver: #8EBAC5;
  --color-bronze: #EA9B58;
}

/* hide scrollbar */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
